@{
    ViewBag.Title = "Home Page";
}
@section myStyle{
    <style>
    </style>
}


@section scripts{
    @Scripts.Render("~/bundles/index")

    <script>
        $(function () {
            
            formInit();
        })
       
    </script>
}




<div>
    <select id="selCounty">
        
    </select>

</div>